@font-face {
  font-family: "DejaVu Sans";
  src: url(/assets/fonts/DejaVuSans.ttf)
}

@font-face {
  font-family: "DejaVu Serif";
  src: url(/assets/fonts/DejaVuSansSerif.ttf)
}

@font-face {
  font-family: "DejaVu Sans Mono";
  src: url(/assets/fonts/DejaVuSansMono.ttf)
}

#header-content {
  padding: 40px 80px 0px 80px;
  background: #fdf6e3;
}

#content {
  padding: 0px 80px 40px 80px;
  background: #fdf6e3;
}

/* recolor inlined code */
code {
  background-color: #eee8d5;
}

.highlight > pre {
  padding: 0;
  margin: 0;
}

.highlight {
  border-radius: 3px 3px 3px 3px;
  overflow: auto;
  padding: 4px;
  margin: 0 0 10px;
  background-color: #073642 !important;
  color: #93a1a1;
  border: 1px solid #2d6472;
}

.category p {
  text-align: justify;
}

.page p {
  text-align: justify;
}

.post p {
  text-align: justify;
}
